<div class="profile-component">
  <img class="profile-image" src="../../assets/photos/Profile 7.jpg"/>
    <div class="profile-component-detail">
      <mat-icon svgIcon="music" class="profile-component-detail-icon"></mat-icon>
      <div class="profile-component-detail-data">
        <div>The Deep South</div>
        <div>Josh Ritter</div>
        <div>Rag'n'Bone Man</div>
        <div>Imagine Dragons</div>
        <div>Aubrey Logan</div>
      </div>
    </div>
    <div class="profile-component-detail">
      <mat-icon svgIcon="flag" class="profile-component-detail-icon"></mat-icon>
      <div class="profile-component-detail-data">
        <div>Le Canoe Volant</div>
        <div>The Fringe</div>
        <div>Heritage Days</div>
        <div>Board Games</div>
        <div>Ski Trips</div>
      </div>
    </div>
    <div class="profile-component-detail">
      <mat-icon svgIcon="beer" class="profile-component-detail-icon"></mat-icon>
      <div class="profile-component-detail-data">
        <div>Micro Breweries</div>
        <div>Next Act</div>
        <div>Sushi</div>
        <div>Ice Cream</div>
        <div>Overly Fancy Cupcakes</div>
      </div>
    </div>
</div>
